@tailwind base;
@tailwind components;
@tailwind utilities;


.bg-img {
    background-image: url('/src/assets/images/cta-bg.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    border: 3px solid #f1f1f1;
    filter: brightness(50%);
}


.no-blur {
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    width: 80%;
}