@tailwind base;
@tailwind components;
@tailwind utilities;


.bg-img {
    background-image: url('/src/assets/images/cta-bg.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    filter: brightness(50%);
}